@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Lato|Open+Sans:300,400&display=swap');

$main_font: 'Open Sans', 'sans-serif';
$button_font: 'Lato', 'sans-serif';
$h1_font:'Didact Gothic', 'sans-serif';
$strapline_font: 'Open Sans Light', 'sans-serif';
$h2_font: 'Lato Bold', 'sans-serif';

$btn_color: #DE2B24;
$scnd_section_color: #F3F3F3;
$fourth_section_color: #1287BF;
$footer_color: #515151;
$plc_holder_color: #F35E59;